[submodule "Vendor/glm"]
	path = Vendor/glm
	url = https://github.com/icaven/glm
[submodule "Vendor/assimp"]
	path = Vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Vendor/glfw"]
	path = Vendor/glfw
	url = https://github.com/glfw/glfw.git
